@font-face {
    src: url(../../Fonts/HyliaSerif.ttf);
    font-family: nos;
}

.item-card {
    font-family: nos;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.item-image {
    width: 80%;
    margin-top: 5%;
    border-radius: 5px;
}

.card-link {
    text-decoration: none;
}

.card-name {
    color: black;
}